## Integers

In [1]:
print(123456789 + 1)

123456790

In [4]:
print(10)
print(type(10))

10
<class 'int'>

## Floating-point Numbers

In [5]:
print(4.8)
print(type(4.8))
print(4.)
print(.4)
print(.4e7)
print(4.2e7)

4.8
<class 'float'>
4.0
0.4
4000000.0
42000000.0

## Strings

In [7]:
print("Hacktiv8")
print(type("Hacktiv8"))

Hacktiv8
<class 'str'>

In [1]:
print('')
print("this string contains a single quote(') character.")
print('this string contains a double quote(")character.')

this string contains a single quote(') character.
this string contains a double quote(")character.

## Boolean Type, Boolean Context, and "Truthiness"

In [3]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

## Variable Assignment

In [6]:
n = 300
print(n)
n
#later, if you change the value of n and use it again, the new value will be substituted instead

300

300

In [7]:
a=b=c=200
print(a, b, c)

200 200 200

## Variable Types in Python

In [10]:
var = 24.3
print(var)
print(type(var))

other_var = "now i'am a string"
print(other_var)
print(type(other_var))

24.3
<class 'float'>
now i'am a string
<class 'str'>

## Variable Names

In [11]:
name="HACKTIV8"
Age=54
has_laptops=True
print(name, Age, has_laptops)

HACKTIV8 54 True

In [12]:
#variable names can't contain numbers
9_kepala_naga=True

SyntaxError: invalid decimal literal (2945608085.py, line 2)

In [13]:
age=1
Age=2
aGe=3
AGE=4
A_G_E=5
_age=6
age_=7

print(age, Age, aGe, AGE, A_G_E, _age, age_)

1 2 3 4 5 6 7

## Operators and Expressions in Python

In [16]:
a=10
b=5
a+b
a+b-5

print(a+b)
print(a+b-5)

15
10

## Arithmetic Operators

In [17]:
a=4
b=3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)

7
1
12
1.3333333333333333
1
64

In [18]:
#the result of standard division (/) is always a float, even if the dividend is evenly divisible by the divisor
10/5

2.0

## Comparison Operators

In [19]:
#Here are examples of th ecomparison operators in use
a=10
b=20
print(a==b)
print(a!=b)
print(a<=b)
print(a>=b)

False
True
True
False

## String Manipulation

In [20]:
# + Operators
s='foo'
t='bar'
u='baz'

print(s+t)
print(s+t+u)

print('Hacktiv8'+'PTP')

foobar
foobarbaz
Hacktiv8PTP

In [23]:
# * Operators
s='foo.'
s*4

'foo.foo.foo.foo.'

In [24]:
#in Operators
s='foo'

print(s in 'that good for us')
print(s in 'that food for us')

False
True

In [29]:
#case conversion
s="HackTIV8"

#Capitalize
print(s.capitalize())

#Lower
print(s.lower())

#swapcase
print(s.swapcase())

#title
print(s.title())

#uppercase
print(s.upper())

Hacktiv8
hacktiv8
hACKtiv8
Hacktiv8
HACKTIV8

## Python List

In [30]:
a=['foo', 'bar', 'qux']
print(a)

['foo', 'bar', 'qux']

### List Are Ordered

In [32]:
a=['foo','bar','baz','qux']
b=['baz','qux','bar','foo']
a==b

False

### List can Contain Arbitrary Objects

In [34]:
a=[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]
print(a)

[21.42, 'foobar', 3, 4, 'bark', False, 3.14159]

### List Elements Can Be Accessed by Index

In [39]:
a=['foo', 'bar', 'baz','qux','quux','corge']
print(a[0])
print(a[5])
print(a[-1])
print(a[-6])

print(a[2:5])

foo
corge
corge
foo
['baz', 'qux', 'quux']

In [40]:
#the concatenation (+) and replication (*) operators
a=['foo', 'bar', 'baz','qux','quux','corge']

print(a)

print(a+['grault', 'garply'])
print(a*2)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'grault', 'garply']
['foo', 'bar', 'baz', 'qux', 'quux', 'corge', 'foo', 'bar', 'baz', 'qux', 'quux', 'corge']

In [41]:
#len(), min(), max()
a=['foo', 'bar', 'baz','qux','quux','corge']
print(a)

print(len(a))
print(min(a))
print(max(a))

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
6
bar
qux

### Modifying a Single List Value

In [47]:
a=['foo', 'bar', 'baz','qux','quux','corge']

print(a)

a[2]=10
a[-1]=20

print(a)

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
['foo', 'bar', 10, 'qux', 'quux', 20]
['foo', 'bar', 'baz', 'quux', 'corge']

In [46]:
#A list item can deleted with the del command
a=['foo', 'bar', 'baz','qux','quux','corge']

del a[3]
print(a)

['foo', 'bar', 'baz', 'quux', 'corge']

### Modifying Multiple List Values

In [48]:
a=['foo', 'bar', 'baz','qux','quux','corge']

print(a[1:4])
a[1:4]=[1.1, 2.2, 3.3, 4.4, 5.5]

print(a)

['bar', 'baz', 'qux']
['foo', 1.1, 2.2, 3.3, 4.4, 5.5, 'quux', 'corge']

# Python Tuples

## Defining and Using Tuples

In [50]:
t=('foo', 'bar', 'baz','qux','quux','corge')
print(t)

print(t[0])
print(t[-1])

('foo', 'bar', 'baz', 'qux', 'quux', 'corge')
foo
corge

In [51]:
#Packing and unpacking
(s1, s2, s3, s4)=('foo', 'bar', 'baz', 'qux')
s1

'foo'

# Python Dictionary

## Defining a Dictionary

In [52]:
MLB_team={
    'colorado':'rockies',
    'boston':'res sox',
    'minnesota':'twins',
    'milwaukee':'brewers',
    'seattle':'mariners'
}

## Accessing Dictionary Values

In [53]:
print(MLB_team['minnesota'])
print(MLB_team['colorado'])

twins
rockies

In [54]:
#adding an entry to an existing dictionary is simply a matter of assigning a new key and value

MLB_team['kansas city']='royals'
MLB_team

{'colorado': 'rockies',
 'boston': 'res sox',
 'minnesota': 'twins',
 'milwaukee': 'brewers',
 'seattle': 'mariners',
 'kansas city': 'royals'}

In [55]:
# if want to update entry, we can just assign a new value to an existing key
MLB_team['seattle']='seahawks'
MLB_team

{'colorado': 'rockies',
 'boston': 'res sox',
 'minnesota': 'twins',
 'milwaukee': 'brewers',
 'seattle': 'seahawks',
 'kansas city': 'royals'}

In [56]:
#to delete an entry, use the del statement, specifying the key to delete

del MLB_team['seattle']
MLB_team

{'colorado': 'rockies',
 'boston': 'res sox',
 'minnesota': 'twins',
 'milwaukee': 'brewers',
 'kansas city': 'royals'}

## Building a Dictionary Incrementally

In [63]:
person={}
type(person)

person['fname']='Rosita'
person['lname']= 'Janatin'
person['age']=20
person['university']='Universitas Diponegoro'
person['Course']=['statistics','computing','calculus']
person['day']={'monday':'Statistics', 'tuesday':'computing', 'wednesday':'calculus'}

In [65]:
print(person['fname'])
print(person['university'])
print(person['Course'][1])
print(person['day']['monday'])

Rosita
Universitas Diponegoro
computing
Statistics

In [68]:
#Built-in Methods
d={'a':10,'b':20,'c':30}

#items
print(d.items())

#keys
print(d.keys())

#values
print(d.values())

dict_items([('a', 10), ('b', 20), ('c', 30)])
dict_keys(['a', 'b', 'c'])
dict_values([10, 20, 30])

## Line Continuation

In [73]:
person1_age=42
person2_age=16
person3_age=71

someone_is_working_age= (
    person1_age >=18 and person1_age <=65) or (person2_age >= 18 and person2_age <= 65)or (person3_age >=18 and person3_age<=65
       )
someone_is_working_age

True